/* Tabs */
.tab-active {
  color: #d2e3e4;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.tab-inactive {
  color: #e5e7eb;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tab-inactive:hover {
  color: #d2e3e4;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition:
    color 0.5s ease,
    text-shadow 0.5s ease;
}

/* Underline effect for both active and inactive tabs */
.tab-active::after,
.tab-inactive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 100%;
  background-color: #d2e3e4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.bottom-normal::after {
  bottom: -24px;
}

.bottom-solid::after {
  bottom: 0;
}

.tab-active::after {
  transform: scaleX(1);
}

.tab-inactive:hover::after {
  transform: scaleX(1);
  background-color: #d2e3e4;
}