:root {
  --tab-accent-color: #bcd5d8;  /* Soft teal-gray */
  --tab-inactive-color: #f3f4f6;  /* Tailwind: gray-100 */
}

/* Tabs */
.tab-active {
  color: var(--tab-accent-color);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.tab-inactive {
  color: var(--tab-inactive-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tab-inactive:hover {
  color: var(--tab-accent-color);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition:
    color 0.5s ease,
    text-shadow 0.5s ease;
}

/* Underline effect for both active and inactive tabs */
.tab-active::after,
.tab-inactive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px; /* Default underline position */
  height: 2px; /* Set to your desired thickness */
  width: 0;
  background-color: var(--tab-accent-color);
  transition: width 1s ease;
}

.bottom-normal::after {
  bottom: -24px !important;
}

.bottom-solid::after {
  bottom: 0 !important;
}

.tab-active::after {
  width: 100%;
}

.tab-inactive:hover::after {
  width: 100%;
}
