@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes HeroIn {
  0% {
    transform: translateX(-2%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.late-fade-out {
  animation: fadeOut 1s ease-in-out;
  animation-delay: 14.25s;
}

.long-slide-in {
  animation: fadeIn 3s ease-in-out;
}

.long-slide-out {
  animation: fadeOut 3s ease-in-out;
}

.hero-in {
  animation: HeroIn 4s ease-out forwards;
  opacity: 0;
  animation-delay: 1s;
}

.hero-in-d1 {
  animation:
    HeroIn 3s ease-out forwards,
    typing 2s steps(30, end) 2s forwards;
  opacity: 1;
  animation-delay: 2s;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 0;
}

.hero-button {
  opacity: 0;
  animation: HeroIn 2s ease-in forwards;
  animation-delay: 2.5s;
  position: relative;
  overflow: hidden;
  background-color: #bd9479;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease,
    transform 0.5s ease,
    font-size 0.5s ease;
}

.hero-button:hover {
  background-color: #b5896f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.5);
}

.hero-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    /* Thin line */ rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg); /* Adds a slight angle to the shine */
  animation:
    shine 1s ease-in-out 7s forwards,
    shine 1s ease-in-out 12s forwards;
  pointer-events: none; /* Ensures the shine doesn't interfere with button clicks */
}

.hero-button:not(:hover)::before {
  animation:
    shine 1s ease-in-out 7s forwards,
    shine 1s ease-in-out 12s forwards; /* Apply animation only when not hovered */
}

.hero-button:hover::before {
  animation: none; /* Ensure the animation stops during hover */
}

.shadow-text {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

.shadow-button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
