@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.parisienne {
  font-family: "Parisienne", cursive;
}

.ballet {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-content {
  @apply max-w-screen-xl px-8 sm:px-12  mx-auto w-full py-12;
}
.container-padding {
  @apply px-0 md:px-16 lg:px-24 xl:px-36;
}
.container-content-sm {
  @apply lg:mx-auto m-8 p-8 sm:m-16 lg:w-full max-w-2xl;
}

.container-content-xs {
  @apply p-8 w-96 lg:w-[36rem];
}

.card {
  @apply bg-white rounded border border-gray-50 opacity-85 shadow-lg;
}
.text-heading {
  @apply text-[#7f6000] text-base font-sans  md:text-lg leading-tight;
}

.text-body {
  @apply text-gray-800 font-sans  text-sm md:text-base leading-relaxed;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
