@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes SlideIn {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes SlideInSubtle {
  0% {
    transform: translateX(-2.5%);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: SlideIn 3s ease-out forwards;
}

.slide-in-subtle {
  animation: SlideInSubtle 3s ease-out forwards;
}

.fade-in {
  animation: FadeIn 3s ease-out forwards;
}

.fade-out {
  animation: FadeOut 1s ease-out forwards;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.parisienne {
  font-family: "Parisienne", cursive;
}

.ballet {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-content {
  @apply max-w-screen-xl p-8 sm:p-16  mx-auto w-full md:p-24;
}

.container-content-sm {
  @apply lg:mx-auto m-8 p-8 sm:m-16 lg:w-full max-w-2xl;
}

.section {
  @apply w-full flex items-center justify-center min-h-full;
}

.card {
  @apply bg-gray-50 rounded border border-gray-200 opacity-85  shadow-lg;
}
.text-heading {
  @apply text-[#7f6000] text-base font-sans  md:text-lg leading-tight;
}

.text-body {
  @apply text-gray-800 font-sans  text-sm md:text-base leading-relaxed;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
