/* Slide Animations */
@keyframes SlideIn {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideInSubtle {
  0% {
    transform: translateX(-2.5%);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade Animations */
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBackground {
  0% {
    background-color: rgba(116, 94, 77, 0);
  }
  100% {
    background-color: rgba(116, 94, 77, 0.8);
  }
}

/* Animation Classes */
.slide-in {
  animation: SlideIn 3s ease-out forwards;
}

.slide-in-subtle {
  animation: SlideInSubtle 3s ease-out forwards;
}

.fade-in {
  animation: FadeIn 3s ease-out forwards;
}

.fade-out {
  animation: FadeOut 1s ease-out forwards;
}

.fade-in-below {
  animation:
    fadeInSlideUp 1s ease forwards,
    fadeInBackground 1s ease-in forwards;
  animation-delay: 0s, 0.5s;
}

.fade-in-top {
  animation: fadeInSlideDown 1.5s ease forwards;
}


@keyframes SlideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes SlideOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-left {
  animation: SlideInLeft 1s ease forwards;
}

.slide-out-right {
  animation: SlideOutRight 1s ease forwards;
}
